<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">

	<!-- MAIN -->
	<div class="height-sub">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="text-white mt-5 mb-5">
							<b>지출/매출 > 지출관리(관리자 페이지) > 상세보기</b>
						</p>
						<p class="text-white mt-5 mb-5">
							<b> ※ 오른쪽 하단 매장 지출 관리하기 버튼 클릭하고 관리자 비밀번호와 점주의 생년월일을 입력시 현재 매장의 지출을 관리하는 페이지로 이동합니다 </b>
						</p>
					</div>
				</div>

				<div class="row tm-content-row">

					<!-- 지출관리(관리자 페이지) 상세보기-->
					<div class="col-12 tm-block-col">
						<div class="tm-bg-primary-dark tm-block-details-salary" th:each="list : ${detailsList}">
							<table class="table">
								<tr>
									<td style="width: 15%;">매장코드</td>
									<td colspan="3">
										<input 
											type="text" 
											class="form-control"
											th:value="${list.shopCode}"
											style="background-color: #54657D" readonly>
									</td>
								</tr>
								<tr>
									<td>아이디</td>
									<td>
										<input 
											type="text" 
											class="form-control" 
											th:value="${list.memberId}"
											style="background-color: #54657D" readonly>
									</td>
									<td>매장명</td>
									<td>
										<input 
											type="text" 
											class="form-control" 
											th:value="${list.shopName}"
											style="background-color: #54657D" readonly>
									</td>
								</tr>
								<tr>
									<td>주소</td>
									<td>
										<input 
											type="text" 
											class="form-control" 
											th:value="${list.shopAddress}"
											style="background-color: #54657D" readonly>
									</td>
									<td>전화번호</td>
									<td>
										<input 
											type="text" 
											class="form-control" 
											th:value="${list.shopPhone}"
											style="background-color: #54657D" readonly>
									</td>
								</tr>
								</table>
								
								<hr>
								
								<table class="table">
								
									<tr>
										<td style="width: 15%">계약일</td>
										<td>
											<input 
												type="text" 
												class="form-control" 
												th:value="${list.contractDate}"
												style="background-color: #54657D" readonly>
										</td>
										<td>계약상태</td>
										<td>
											<input 
												type="text" 
												class="form-control" 
												th:value="${list.contractManagementState}"
												style="background-color: #54657D" readonly>
										</td>
									</tr>
					
								<tr>
									<td>시작일</td>
									<td>
										<input 
											type="text" 
											class="form-control" 
											th:value="${list.contractStart}"
											style="background-color: #54657D" readonly>
									</td>
									<td>종료일</td>
									<td>
										<input 
											type="text" 
											class="form-control" 
											th:value="${list.contractFinish}"
											style="background-color: #54657D" readonly>
									</td>
								</tr>
							</table>
							<hr>
							<button type="button"
									class="btn btn-primary" 
									style="float: right;" 
									data-toggle="modal" data-target="#checkModal">
								매장 지출 관리하기
							</button>
							
							<!-- The Modal -->
							<form action="/spendAdmin" method="post" id="adminCheckForm">
							<div class="modal fade" id="checkModal">
								<div class="modal-dialog">
									<div class="modal-content">
							
									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">확인</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
							
									<!-- Modal body -->
									<div class="modal-body">
										
										<p>
											<b> ※편의성을 위해 값은 입력되어 있습니다 </b>
										</p>
										
										<input 
											type="hidden"
											 name="contractShopCode" 
											 id="contractShopCode" 
											 th:value="${list.contractShopCode}">
										<input
											type="hidden"
											name="memberId"
											id="memberId"
											th:value="${list.memberId}"
										>
										
										<label>관리자 비밀번호</label>
										<input 
											type="password" 
											class="form-control" 
											name="adminPw"
											id="adminPw" 
											value="pw001">
										
										<br>
										
										<label>점주 생년월일</label>
										<input 
											type="text" 
											class="form-control" 
											name="memberBirth"
											id="memberBirth" 
											th:value="${list.memberBirth}">
										<div id="failAlert" style="display: none;">
											<br>
											<label style="color: red;">비밀번호 혹은 생년월일이 일치하지 않습니다</label>	
										</div>
									</div>
							
									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" id="adminCheck">확인</button>
									</div>
							
									</div>
								</div>
							</div>
							</form>
							
						</div>
					</div>
				</div>
			</div>

		</div>	
	</div>
</th:block>
<th:block layout:fragment="customScript">

<script th:inline="javascript">
	
	
	$(function() {
        $('#adminCheck').click(function() {
            
        	var contractShopCode = $('#contractShopCode').val();
        	var adminPw = $('#adminPw').val();
        	var memberBirth = $('#memberBirth').val(); 
        	var memberId = $('#memberId').val();
        	
            // ajax 호출을 위한 정보 기입
            var request = $.ajax({
              url: "/adminCheck", // 호출 url
              method: "POST", // 전송방식
              data: {contractShopCode, adminPw, memberBirth, memberId}, // 파라미터
              dataType: "text" // 전송 받을 타입 ex) xml, html, text, json
            });
             
            // 호출 정상일 시 실행되는 메서드
            request.done(function( data ) {
            	if(data == 2){
            		$('#adminCheckForm').submit();
            	} else {
            		$('#failAlert').attr('style', 'display:inline;');

            	}
              
            });
 
            // 호출 에러일 시 실행되는 메서드
            request.fail(function( jqXHR, textStatus ) {
              alert( "Request failed: " + textStatus );
            });
 
            // 호출 정상 또는 에러 상관없이 실행
            request.always(function() {
                console.log('완료');
            });
        });
    });
	
</script>
</th:block>
</html>

