<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customTitle">
</th:block>
<th:block layout:fragment="customContents">
	<!-- MAIN -->
	<div class="main">
		<div class="container mt-6">
			<div class="row tm-content-row">
				<div class="col-sm-12 col-md-12  tm-block-col">
					<div class="tm-bg-primary-dark tm-block tm-block-products">
						<form action="/accountDelete" method="post">
							<div class="tm-product-table-container"
								th:each="list : ${updateList}">
								<input type="hidden" name="accountCode"
									th:value="${list.accountCode}">
								<table class="table table-hover tm-table-small tm-product-table">
									<thead>
										<tr>
											<th scope="col">거래처 명</th>
											<th th:text="${list.accountName}"></th>
										</tr>
										<tr>
											<th scope="col">거래처 주소</th>
											<th th:text="${list.accountAddress}"></th>
										</tr>

										<tr>
											<th scope="col">주요 품목</th>
											<th th:text="${list.accountCategory}"></th>
										</tr>
										<tr>
											<th scope="col">최근 수정일자</th>
											<th th:text="${list.accountDate}"></th>
										</tr>
										<tr>
											<td>비밀번호입력</td>
											<td><input class="text-lowercase mb-6" type="password"
												name="memberPw"></td>
										</tr>
									</thead>
								</table>
								<div>
									<label class="alert alert-danger col-xl"
										th:if="${result ne null}" th:text="${result}"></label>
								</div>
							</div>
							<!-- table container -->
							<button type="submit" class="btn btn-primary btn-block text-uppercase mb-3">
									거래처삭제
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END MAIN -->

</th:block>
</th:block>
<th:block layout:fragment="customScript">
</th:block>
</html>


